<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            PAGE TITLE
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="{% static 'js/utils.js' %}"></script>
</head>
<body>
    <header>
        {% if user.is_authenticated %}
            <form
                action="/users/logout/"
                method="post"
            >
                {% csrf_token %}
                <button>logout</button>
            </form>
        {% else %}
            <a href="/users/login">login</a>
        {% endif %}
    </header>
    {% block content %}

    {% endblock %}
</body>
</html>